body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed; }

.main-window {
  position: relative;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #fff; }
  .main-window__header {
    margin-bottom: 20px; }
    .main-window__header h1 {
      font-family: "nasalization";
      text-align: center; }
  .main-window__nav {
    margin-bottom: 10px; }
  .main-window__navitem {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: #eee;
    color: #454545;
    transition: color 0.5s ease, background-color 0.5s; }
    .main-window__navitem:hover, .main-window__navitem--active {
      background-color: #454545;
      color: #fff;
      text-decoration: none; }
    .main-window__navitem:focus, .main-window__navitem:active {
      background-color: #454545;
      color: #fff;
      text-decoration: none; }
    .main-window__navitem i {
      padding-right: 10px; }
  .main-window__view {
    padding-top: 10px; }

.delete-modal__header {
  margin-bottom: 15px;
  font-weight: 700; }
.delete-modal__btn i {
  padding-left: 5px; }

.superpowers {
  margin: 10px 0; }
  .superpowers__arrow {
    font-size: 35px;
    cursor: pointer; }
  .superpowers__icons {
    font-size: 35px; }

.ng-datepicker-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

/*# sourceMappingURL=app.css.map */
