<div class="alert alert-success" ng-show="flash">
  <strong>Paráda!</strong> Úspěšně jste přidali kosmonauta.
</div>

<div class="alert alert-danger" ng-show="cosmonauts.length == 0">
  <strong>Ojoj!</strong> Bohužel nemáme v evidenci žádné kosmonauty.
</div>

<table class="table table-stripped" ng-show="cosmonauts.length > 0">
	<tr>
		<th>Jméno</th>
		<th>Příjmení</th>
		<th>Datum narození</th>
		<th>Superschopnost</th>
		<th></th>
	<tr ng-repeat="cosmonaut in cosmonauts | orderBy:'-_id'">
		<td>{{cosmonaut.name}}</td>
		<td>{{cosmonaut.surname}}</td>
		<td>{{cosmonaut.dob}}</td>
		<td>{{cosmonaut.superpower}}</td>
		<td><button ng-click="deleteModal(cosmonaut._id)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-times" aria-hidden="true"></i></button></td>
	</tr>
</table>

<div id="deleteModal" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<h4 class="modal-title delete-modal__header">Opravdu chcete vymazat kosmonauta z evidence?</h4>
        <p class="delete-modal__text">Kosmonautů není nikdy dost, proto si prosím pořádně rozmyslete, jestli se zrovna tohoto chcete zbavit. Víckrát se vás už ptát nebudeme a jak jednou kliknete, poletí místo do vesmíru do koše!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning delete-modal__btn" data-dismiss="modal">Nechci ho mazat<i class="fa fa-undo" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-danger delete-modal__btn" data-dismiss="modal" ng-click="deleteCosmonaut(deleteID)">Vymazat<i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
