<form class="form" name="newcosmonaut" ng-submit="saveCosmonaut()">
	<div ng-class="{'form-group':true, 'has-error': newcosmonaut.name.$dirty && newcosmonaut.name.$error.required}">
		<label>Jméno</label>
		<input name="name" required class="form-control" type="text" ng-model="cosmonaut.name" />
		<span class="help-block" ng-show="newcosmonaut.name.$dirty && newcosmonaut.name.$error.required">Jméno je povinný atribut</span>
	</div>

	<div ng-class="{'form-group':true, 'has-error': newcosmonaut.surname.$dirty && newcosmonaut.surname.$error.required}">
		<label>Příjmení</label>
		<input name="surname" required class="form-control" type="text" ng-model="cosmonaut.surname" />
		<span class="help-block" ng-show="newcosmonaut.surname.$dirty && newcosmonaut.surname.$error.required">Příjmení je povinný atribut</span>
	</div>

	<div class="form-group">
		<label>Datum narození</label>
		<ng-datepicker ng-model="cosmonaut.dob" locale="cs" format="DD.MM.YYYY" view-format="Do MMMM YYYY">
    </ng-datepicker>
	</div>

	<div ng-class="{'form-group':true, 'has-error': newcosmonaut.superpower.$dirty && newcosmonaut.superpower.$error.required}">
		<label>Superschopnost</label>
		<select name="superpower" required class="form-control" ng-model="cosmonaut.superpower" ng-options="superpower as superpower for superpower in superpowers">
			<option value="">-- Prosím vyberte superschopnost --</option>
		</select>
		<span class="help-block" ng-show="newcosmonaut.superpower.$dirty && newcosmonaut.superpower.$error.required">Kosmonaut přece musí mít superschopnost!</span>
	</div>

	<div class="superpowers row">
		<div class="col-xs-1 col-sm-offset-2 col-md-offset-4 superpowers__arrow text-center">
			<i class="fa fa-chevron-left" aria-hidden="true" ng-click="changeSuperpower(-1,cosmonaut.superpower)"></i>
		</div>

		<div class="col-xs-10 col-sm-6 col-md-2 superpowers__icons text-center">
			<i class="fa fa-question-circle-o" aria-hidden="true" ng-show="cosmonaut.superpower == '' || cosmonaut.superpower == null"></i>
			<i class="fa fa-eye" aria-hidden="true" ng-show="cosmonaut.superpower == 'rentgenové vidění'"></i>
			<i class="fa fa-reddit-alien" aria-hidden="true" ng-show="cosmonaut.superpower == 'čtení myšlenek'"></i>
			<i class="fa fa-medkit" aria-hidden="true" ng-show="cosmonaut.superpower == 'nesmrtelnost'"></i>
			<i class="fa fa-beer" aria-hidden="true" ng-show="cosmonaut.superpower == 'bezedný pivní břuch'"></i>
			<i class="fa fa-keyboard-o" aria-hidden="true" ng-show="cosmonaut.superpower == 'frontend vývojář'"></i>
		</div>
		
		<div class="col-xs-1 superpowers__arrow text-center">
				<i class="fa fa-chevron-right" aria-hidden="true" ng-click="changeSuperpower(1,cosmonaut.superpower)"></i>
		</div>
	</div>

	<div class="form-group text-center">
		<input ng-disabled="newcosmonaut.$invalid" class="btn btn-success btn-block btn-lg" type="submit" value="Přidat kosmonauta" />
	</div>

</form>



